.main{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: 750px;
}

.steamingHeap{
    width: 100%;
    height: 140px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.lookIntoTheDepths{
    width: 140px;
}

